/* font-family: 'Space Mono', monospace; */
:root {
  --font-primary: 'Work Sans', sans-serif;
  --font-secondary: 'Space Mono', monospace;
  --brand-color: #a259ff;
  --bg-color-primary: #2b2b2b;
  --bg-color-secondary: #3b3b3b;
  --text-color: #ffffff;
  --caption-color: #858584;
  --color-footer-text: #cccccc;
}
/* * {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: var(--text-color);
  background-color: var(--bg-color-primary);
}
.container {
  max-width: 1200px;
  max-width: 1090px;
  margin: 0 auto;
}
.section {
  padding: 80px 0;
}
.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
} */
/*----------------------nav--------------------------*/
/* .header {
  max-width: 1200px;
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  font-family: var(--font-secondary);
  font-size: 22px;
  font-weight: 600;
  line-height: 1.6;
  padding: 14px 0;
} */
/* .nav__icon {
  margin-right: 12px;
} */
/* .nav__items {
  display: flex;
  align-items: baseline;
  text-transform: capitalize;
  padding: 20px 0;
} */
/* .nav__item {
  padding: 12px 20px 12px 20px;
  font-weight: 600;
} */
/* .nav__item:not(:last-child) {
  margin-right: 10px;
} */
/* .nav__item--btn {
  padding: 20px 30px 20px 30px;
  background-color: var(--brand-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
} */

/* .nav__link {
  text-decoration: none;
  color: var(--text-color);
} */
/*-----------------------------nav-------------------*/
/*-----------------------------hero------------------*/
/* .hero__wrapper {
  display: flex;
  padding-top: 80px;
} */
/* .hero__container:not(:last-child) {
  margin-right: 30px;
} */
/* .hero__title {
  font-size: 67px;
  line-height: 1.1;
  text-transform: capitalize;
  margin-bottom: 20px;
} */
/* .hero__subtitle {
  font-size: 22px;
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: 30px;
} */
/* .hero__btn {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  text-transform: capitalize;
  background-color: var(--brand-color);
  border-radius: 20px;
  padding: 20px 50px 20px 50px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
} */
/* .hero__icon {
  margin-right: 12px;
  fill: var(--text-color);
} */
/* .hero__items {
  display: flex;
} */
.hero__item {
  display: flex;
  flex-direction: column;
}
/* .hero__item:not(:last-child) {
  margin-right: 30px;
} */
/* .hero__number {
  font-family: var(--font-secondary);
  font-size: 28px;
  font-weight: 700;
} */
/* .hero__info {
  font-size: 24px;
  line-height: 1.59;
  text-transform: capitalize;
} */
/* .hero__img {
  border-radius: 22px 22px 0 0;
  display: block;
} */
/* .hero__card-caption {
  background-color: var(--bg-color-secondary);
  border-radius: 0 0 20px 20px;
} */
/* .hero__card-title {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 22px 20px 10px 20px;
} */
/* .hero__avatar {
  display: flex;
  align-items: center;
  padding: 0 20px 24px 20px;
} */
/* .hero__img-avatar {
  border-radius: 120px;
  margin-right: 12px;
} */
/* .hero__nickname:first-letter {
  text-transform: uppercase;
} */
/*---------------------------hero--------------------*/
/*---------------------------trending-----------------*/
/* .trending__title {
  font-size: 38px;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 10px;
} */
/* .trending__subtitle {
  font-size: 22px;
  line-height: 1.6;
  text-transform: capitalize;
  margin-bottom: 60px;
} */
/* .trending__cards {
  display: flex;
} */
/* .trending__card:not(:last-child) {
  margin-right: 30px;
} */
/* .trending__items {
  display: flex;
  align-items: flex-start;
} */
/* .trending__img {
  border-radius: 22px;
  display: block;
  margin-bottom: 15px;
} */
/* .trending__items .trending__item:nth-child(3) {
  padding: 32.5px 16px 32.5px 16px;
  background-color: var(--brand-color);
  border-radius: 20px;
  font-family: var(--font-secondary);
  font-size: 22px;
  font-weight: 700;
  line-height: 1.6;
} */
/* .trending__item:not(:last-child) {
  margin-right: 15px;
} */
/* .trending__collection {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
} */
/* .trending__avatar {
  display: flex;
} */
/* .trending__caption {
  margin-left: 12px;
}
.trending__caption:first-letter {
  text-transform: uppercase;
} */
/*----------------------trending---------------------*/
/*------------------creators-------------------------*/
/* .creators__wrapper {
  display: flex;
  align-items: flex-end;
  position: relative;
} */
/* .creators__title {
  font-size: 38px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 10px;
} */
/* .creators__subtitle {
  font-size: 22px;
  line-height: 1.6;
  text-transform: capitalize;
  margin-bottom: 60px;
} */
/* .creators__btn {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  text-transform: capitalize;
  border: 2px solid var(--brand-color);
  border-radius: 20px;
  display: flex;
  padding: 20px 50px 20px 50px;
  position: absolute;
  right: 0;
  bottom: 60px;
} */
/* .creators__icon {
  margin-right: 12px;
  fill: var(--brand-color);
} */
/* .creators__cards {
  display: flex;
  flex-wrap: wrap;
  --space-gap: 30px;
  gap: var(--space-gap);
} */
/* .creators__card {
  flex-basis: calc((100% - 3 * var(--space-gap)) / 4);
  background-color: var(--bg-color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  position: relative;
} */
/* .creators__link {
  text-decoration: none;
  color: var(--text-color);
} */
/* .creators__number {
  color: var(--caption-color);
  font-family: var(--font-secondary);
  padding: 4px 10px;
  background-color: var(--bg-color-primary);
  border-radius: 50px;
  position: absolute;
  top: 18px;
  left: 20px;
} */
/* .creators__card:nth-child(10) .creators__number,
.creators__card:nth-child(11) .creators__number,
.creators__card:nth-child(12) .creators__number {
  padding: 4px 6px;
} */
/* .creators__img {
  border-radius: 60px;
  margin: 20px 65px;
} */
/* .creators__info {
  text-align: center;
} */
/* .creators__nickname {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
} */
/* .creators__nickname:first-letter {
  text-transform: uppercase;
} */
/* .creators__sales {
  color: var(--caption-color);
  text-transform: capitalize;
  margin-bottom: 20px;
} */
/* .creators__price {
  color: var(--text-color);
  font-family: var(--font-secondary);
  text-transform: uppercase;
  margin-left: 10px;
} */
/*----------------creators---------------------------*/
/*---------------categories--------------------------*/
/* .categories__title {
  text-transform: capitalize;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 60px;
} */
/* .categories__cards {
  display: flex;
  flex-wrap: wrap;
  --space-gap: 43px;
  gap: var(--space-gap);
} */
/* .categories__card {
  flex-basis: calc((100% - 3 * var(--space-gap)) / 4);
  position: relative;
  max-width: 240px;
} */
/* .categories__card::after {
  content: '';
  width: 240px;
  height: 240px;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7.5px);
  border-radius: 20px 20px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
} */
/* .categories__img {
  border-radius: 22px 22px 0 0;
  display: block;
} */
/* .categories__icon {
  position: absolute;
  top: 70px;
  left: 70px;
  z-index: 1;
} */
/* .categories__subtitle {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 20px 30px 25px 30px;
  background-color: var(--bg-color-secondary);
  border-radius: 0 0 20px 20px;
} */
/*---------------categories--------------------------*/
/*---------------discover--------------------------*/
/* .discover__wrapper {
  margin-bottom: 60px;
  display: flex;
  align-items: flex-end;
  position: relative;
} */
/* .discover__title {
  font-size: 38px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 10px;
} */
/* .discover__subtitle {
  font-size: 22px;
  line-height: 1.6;
  text-transform: capitalize;
} */
/* .discover__btn {
  text-decoration: none;
  color: var(--text-color);
  text-transform: capitalize;
  border: 2px solid var(--brand-color);
  border-radius: 20px;
  display: flex;
  padding: 20px 50px;
  position: absolute;
  right: 10px;
  bottom: 0;
} */
/* .discover__icon {
  margin-right: 12px;
} */
/*.discover__card,*/
/* .cards-animakid__items, */
.artist-work__items {
  display: flex;
  --space-gap: 50px;
  gap: var(--space-gap);
  max-width: 330px;
}
/* .cards-animakid__items, */
.artist-work__items {
  flex-wrap: wrap;
  max-width: 1200px;
}
/*.discover__card,*/
/* .card-animakid__item, */
.artist-work__item {
  flex-basis: calc((100% - 2 * var(--space-gap)) / 3);
}
/*.discover__img,*/
/* .card-animakid__img, */
.artist-work__img {
  border-radius: 21px 21px 0 0;
  display: block;
}
/* .discover__info-artist, */
/* .card-animakid__info-artist, */
.artist-work__info-artist {
  padding: 20px 30px 0 30px;
}
/* .discover__title, */
/* .card-animakid__title, */
.artist-work__subtitle {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 5px;
}
/* .discover__info, */
/* .card-animakid__info, */
.artist-work__info {
  background-color: var(--bg-color-secondary);
  border-radius: 0 0 20px 20px;
}
/* .discover__avatar, */
/* .card-animakid__avatar, */
.artist-work__avatar {
  display: flex;
}
/* .discover__img--avatar, */
/* .card-animakid__img--avatar, */
.artist-work__img--avatar {
  border-radius: 50px;
  margin-right: 12px;
}
/* .discover__nickname:first-letter, */
/* .card-animakid__nickname:first-letter, */
.artist-work__nickname:first-letter {
  text-transform: uppercase;
}
/* .discover__info-additional, */
/* .card-animakid__info-additional, */
.artist-work__info-additional {
  display: flex;
  justify-content: space-between;
  padding: 25px 30px;
}
/* .discover__price, */
/* .card-animakid__price, */
.artist-work__price {
  display: flex;
  flex-direction: column;
}
/* .discover__bid, */
/* .card-animakid__bid, */
.artist-work__bid {
  display: flex;
  flex-direction: column;
}
/* .discover__price .discover__top,
.discover__bid .discover__top, */
/* .card-animakid__price .card-animakid__top, */
/* .card-animakid__bid .card-animakid__top, */
.artist-work__price .artist-work__top,
.artist-work__bid .artist-work__top {
  font-family: var(--font-secondary);
  font-size: 12px;
  line-height: 1.1;
  text-transform: capitalize;
  color: var(--caption-color);
  margin-bottom: 8px;
}
/* .discover__price .discover__bottom,
.discover__bid .discover__bottom, */
/* .card-animakid__price .card-animakid__bottom, */
/* .card-animakid__bid .card-animakid__bottom, */
.artist-work__price .artist-work__bottom,
.artist-work__bid .artist-work__bottom {
  font-family: var(--font-secondary);
  text-transform: uppercase;
}
/*---------------discover--------------------------*/
/*---------------nft--------------------------*/
/* .nft {
  background-image: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%),
    url('../images/nft-section/magic-mashrooms.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
} */
/* .nft__container {
  position: relative;
  padding: 460px 0 60px;
} */
/* .nft__avatar {
  display: flex;
  align-items: center;
  align-content: flex-start;
  margin-bottom: 30px;
  background-color: var(--bg-color-secondary);
  display: inline-flex;
  border-radius: 20px;
  padding: 10px 20px;
} */
/* .nft__img {
  border-radius: 50px;
  margin-right: 12px;
} */
/* .nft__nickname:first-letter {
  text-transform: uppercase;
} */
/* .nft__title {
  font-size: 51px;
  line-height: 1.1;
  text-transform: capitalize;
  margin-bottom: 30px;
} */
/* .nft__btn {
  text-decoration: none;
  color: var(--bg-color-primary);
  background-color: var(--text-color);
  font-weight: 600;
  border-radius: 20px;
  padding: 20px 50px;
  display: inline-flex;
} */
/* .nft__icon {
  margin-right: 12px;
} */
/* .nft__timer {
  position: relative;
  left: 557px;
  bottom: 78px;
  background: rgba(59, 59, 59, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  display: inline-flex;
  flex-direction: column;
  padding: 30px;
} */
/* .nft__items {
  display: flex;
} */
/* .nft__label {
  font-family: var(--font-secondary);
  font-size: 12px;
  line-height: 1.1;
} */
/* .nft__label:first-letter {
  text-transform: uppercase;
} */
/* .nft__item {
  font-family: var(--font-secondary);
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 5px;
} */
/* .nft__item:not(:last-child) {
  margin-right: 10px;
} */
/* .nft__time {
  font-size: 12px;
  line-height: 1.1;
} */
/* .nft__time:not(:last-child) {
  margin-right: 47px;
} */
/* .nft__time:first-letter {
  text-transform: uppercase;
} */
/*---------------nft--------------------------*/
/*---------------works-------------------------*/
/* .works__title {
  font-size: 38px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 10px;
} */
/* .works__subtitle {
  font-size: 22px;
  line-height: 1.6;
  text-transform: capitalize;
} */
/* .works__cards {
  display: flex;
  --space-gap: 30px;
  gap: var(--space-gap);
  margin-top: 48px;
} */
/* .works__card {
  background-color: var(--bg-color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  flex-basis: calc((100% - 2 * var(--space-gap)) / 3);
} */
/* .works__details {
  text-align: center;
  margin-top: 20px;
} */
/* .works__title-detail {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
} */
/* .works__text {
  margin: 0 30px 30px 30px;
} */
/*---------------works-------------------------*/
/*---------------subscribe-----------------------*/
/* .subscribe__wrapper {
  display: flex;
  background-color: var(--bg-color-secondary);
  border-radius: 20px;
} */
/* .subscribe__container--img {
  padding: 60px 80px 60px 60px;
} */
/* .subscribe__img {
  border-radius: 22px;
} */
/* .subscribe__container--email {
  padding: 79px 60px 79px 0;
} */
/* .subscribe__title {
  font-size: 38px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 10px;
} */
/* .subscribe__subtitle {
  font-size: 22px;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 40px;
} */
/* .subscribe__form input {
  height: 60px;
  padding: 16px 0 16px 20px;
  border-radius: 20px;
} */
/* .subscribe__form input::placeholder {
  font-size: 16px;
  color: var(--bg-color-primary);
} */
/* .subscribe__btn {
  background-color: var(--brand-color);
  color: var(--text-color);
  border: none;
} */
/* .subscribe__btn:first-letter {
  text-transform: uppercase;
} */
/* .subscribe__btn:hover {
  cursor: pointer;
} */
/*---------------subscribe-----------------------*/
/*---------------footer-----------------------*/
/* .footer__items {
  display: flex;
  --space-gap: 31px;
  gap: var(--space-gap);
} */
/* .footer__item {
  flex-basis: calc((100% - 2 * var(--space-gap)) / 3);
} */

/* .footer__socials {
  display: flex;
} */
/* .footer__link-logo {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
} */
/* .footer__title,
.footer__link-logo {
  font-family: var(--font-secondary);
  font-size: 22px;
  font-weight: 700;
  line-height: 1.6;
  text-transform: capitalize;
} */
/* .footer__icon-logo {
  margin-right: 12px;
} */
/* .footer__text {
  color: var(--color-footer-text);
  margin-top: 30px;
  margin-bottom: 20px;
} */
/* .footer__text:first-letter {
  text-transform: uppercase;
} */
/* .footer__icon {
  fill: var(--caption-color);
} */
/* .footer__socials {
  margin-bottom: 30px;
} */
/* .footer__social:not(:last-child) {
  margin-right: 10px;
} */
/* .footer__items-menu {
  margin-top: 25px;
} */
/* .footer__item-menu:not(:last-child) {
  margin-bottom: 20px;
} */
/* .footer__link-menu {
  text-decoration: none;
  color: var(--color-footer-text);
} */
/* .footer__caption {
  --color-top-border: #858584;
  font-size: 12px;
  line-height: 1.1;
  color: var(--color-footer-text);
  border-top: 1px solid var(--color-top-border);
  padding-top: 20px;
  padding-bottom: 40px;
} */
/*---------------footer-----------------------*/
/*---------------account-page--and-wallet--------------*/
.account,
.footer__account,
/* .wallet*/ { 
  max-width: 1260px;
  margin: 0 auto;
}
.account__wrapper,
/* .wallet__wrapper*/ { 
  display: flex;
}
.account__img,
/* .wallet__img*/ { 
  display: block;
  margin-right: 60px;
}
.account__title,
/* .wallet__title*/ { 
  font-size: 51px;
  font-weight: 600;
  line-height: 1.1;
  text-transform: capitalize;
  margin-bottom: 20px;
  padding-top: 100px;
}
.account__subtitle,
/* .wallet__subtitle*/ { 
  font-size: 22px;
  line-height: 1.6;
  text-transform: capitalize;
  margin-bottom: 40px;
}
/*---form----*/
/* .account__form {
  display: flex;
  flex-direction: column;
  max-width: 330px;
} */
.account__form input {
  margin-bottom: 15px;
  padding: 16px 20px 16px 20px;
  border-radius: 20px;
  /*width: auto;*/
  height: 46px;
}
.account__form input::placeholder {
  color: var(--bg-color-primary);
  font-size: 16px;
  line-height: ;
  padding: 16px 20px 16px 32px;
}
.account__btn {
  color: var(--text-color);
  font-size: 16px;
  background-color: var(--brand-color);
  border-radius: 20px;
  padding: 12px 0;
}
.account__btn:first-letter {
  text-transform: uppercase;
}
.account__btn:hover {
  cursor: pointer;
}
/*---form-----*/
/*---footer---*/
.footer__account {
  background-color: var(--bg-color-secondary);
  padding-top: 40px;
}
.footer__account:first-letter {
  text-transform: uppercase;
}
/*---------------account-page-----------------*/
/*----------------cover-section---------------------*/
.cover__artist {
  position: relative;
  padding: 40px 0;
}
.cover__title {
  font-size: 51px;
  font-weight: 600;
  line-height: 1.1;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.cover__items-stats {
  display: flex;
  margin-bottom: 30px;
}
.cover__item-stats {
  font-family: var(--font-secondary);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
}
.cover__item-stats:not(:last-child) {
  margin-right: 20px;
}
.cover__item-sale {
  font-family: var(--font-primary);
  font-size: 22px;
  font-weight: 300;
  line-height: 1.6;
  text-transform: capitalize;
  padding-right: 40px;
}
.cover__item-bio--title,
.cover__title-link {
  font-family: var(--font-secondary);
  font-size: 22px;
  font-weight: 700;
  line-height: 1.6;
  color: var(--caption-color);
  margin-bottom: 10px;
}
.cover__item-bio--title:first-letter,
.cover__title-link:first-letter {
  text-transform: uppercase;
}
.cover__item-bio--subtitle {
  font-size: 22px;
  line-height: 1.6;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.cover__items-link {
  display: flex;
}
.cover__items-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
/*----------------cover-section---------------------*/
/*----------------tabs-section---------------------*/
/* .tabs__items {
  border-top: 1px solid var(--bg-color-secondary);
  display: flex;
  padding-top: 10px;
} */
/* .tabs__item {
  display: flex;
  align-items: center;
  padding: 14.5px 99px 14.5px 125px;
  position: relative;
} */

/* .tabs__title {
  font-size: 22px;
  line-height: 1.4;
  margin-right: 16px;
} */
/* .tabs__title:first-letter {
  text-transform: uppercase;
} */
/* .tabs__number {
  background-color: var(--caption-color);
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
} */
/*----------------tabs-section---------------------*/
/*-----------------cover--------------------------*/
/* .cover {
} */
/* .cover__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  background-image: linear-gradient(180deg, rgba(151, 71, 255, 0) 21.88%, #9747ff 95.31%),
    url('../creators/images/building-tower-among-the-hills.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 160px 0;
  margin-bottom: 50px;
  position: relative;
} */
/* .cover__avatar {
  border-radius: 20px;
  position: absolute;
  left: 115px;
  top: 250px;
} */
/* .cover__artist {
  padding-top: 40px;
  max-width: 1050px;
  margin: 0 auto;
} */
/*-----------------cover--------------------------*/
/*-----------------cards animakid---------------------*/
.cards-animakid {
  background-color: var(--bg-color-secondary);
}
.cards-animakid__items {
  padding: 80px 0 80px 0;
}
.card-animakid__info {
  background-color: var(--bg-color-primary);
}
.footer__items--creators {
  padding-top: 40px;
}
/*-----------------cards animakid---------------------*/
