.hero {
  padding-bottom: 200px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__container {
    margin-bottom: 40px;
  }
  &__subcontainer {
    position: absolute;
    bottom: -160px;
  }
  &__title {
    font-size: 28px;
    line-height: 1.4;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-size: 16px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  &__image,
  &__img {
    width: 100%;
    height: auto;
  }
  &__img {
    border-radius: 24px 24px 0 0;
    display: block;
  }
  &__card-caption {
    background-color: $bgAdditionalColor;
    border-radius: 0 0 20px 20px;
  }
  &__card-title {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 22px 20px 10px 20px;
  }
  &__avatar {
    display: flex;
    align-items: center;
    padding: 0 20px 24px 20px;
  }
  &__img-avatar {
    border-radius: 120px;
    margin-right: 12px;
  }
  &__nickname:first-letter {
    text-transform: uppercase;
  }
  &__btn {
    background-color: $accentColor;
    color: $fontColor;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 20px;
    padding: 19px 95px 19px 95px;
    margin-bottom: 30px;
    display: flex;
  }
  &__icon {
    fill: $fontColor;
    margin-right: 12px;
  }
  &__items {
    display: flex;
    justify-content: space-around;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__number {
    font-family: $fontSecondary;
    font-size: 22px;
    font-weight: 700;
  }
  &__info {
    font-size: 16px;
    line-height: 1.59;
    text-transform: capitalize;
  }
  @include tablet {
    padding-bottom: 0;
    &__wrapper {
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__container--left {
      max-width: 330px;
      margin-right: 20px;
    }
    &__container--right {
      display: flex;
    }
    &__subcontainer {
      top: 180px;
      left: 0;
    }
    &__subtitle {
      margin-bottom: 20px;
    }
    &__btn {
      width: 224px;
      height: 60px;
      padding: 0 50px 0 50px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    }
  }
  @include desktop {
    &__wrapper {
      justify-content: center;
    }
    &__title {
      font-size: 67px;
      line-height: 1.1;
      margin-bottom: 20px;
    }
    &__subtitle {
      font-size: 22px;
      line-height: 1.6;
    }
    &__container--left {
      max-width: 510px;
      margin-right: 30px;
      position: relative;
    }
    &__subcontainer {
      top: 380px;
      left: 0;
    }
    &__btn {
      padding: 19px 50px 19px 50px;
    }
    &__number {
      font-size: 28px;
    }
    &__info {
      font-size: 24px;
      line-height: 1.59;
    }
  }
}
