.subscribe {
  &__images,
  &__img {
    width: 100%;
    height: auto;
    display: block;
  }
  &__img {
    border-radius: 22px;
    margin-bottom: 30px;
  }
  &__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.4;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  &__subtitle {
    margin-bottom: 40px;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input {
    padding: 12px 20px 12px 20px;
    border-radius: 20px;
    width: 315px;
    height: 46px;
    margin-bottom: 16px;
  }
  &__input::placeholder {
    color: $bgBasicColor;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 50px 12px 50px;
    border-radius: 20px;
    background-color: $accentColor;
    color: $fontColor;
    border: none;
    font-weight: 600;
    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
  &__icon {
    fill: $fontColor;
    margin-right: 12px;
  }
  @include tablet {
    &__wrapper {
      $spaceGap: 30px;
      display: flex;
      gap: $spaceGap;
      background-color: $bgAdditionalColor;
      border-radius: 20px;
      padding: 40px 30px;
    }
    &__container--img {
      display: flex;
      align-items: end;
    }
    &__img {
      margin-bottom: 0;
    }
  }
}
