$fontPrimary: 'Work Sans', sans-serif;
$fontSecondary: 'Space Mono', monospace;
$fontColor: #ffffff;
$fontCaptionColor: #858584;
$fontColorFooter: #cccccc;
$footerIconColor: #858584;

$accentColor: #a259ff;
$bgBasicColor: #2b2b2b;
$bgAdditionalColor: #3b3b3b;

$colorGradientTop: rgba(151, 71, 255, 0) 21.88%;
$colorGradientBottom: #9747FF 95.31%;

// $transition: transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
